<div class="wrapper"
    style="background-image: url('../../assets/img/sattva/white-back.png');background-size: 10%;margin-top: 0.5%; background-color: #282343">
    <div class="section profile-content">
        <div class="row" style="margin-right: 0">
            <div class="col-lg-12 col-md-12">
                <div style="
              align-content: center;
              align-items: center;
              flex-wrap: wrap;
              position: relative;
            ">
                    <div style="text-align: center">
                        <h6 class="about_m_text" style="
                  margin-top: 0px;
                  font-weight: bolder;
                  color: #282343;
                  text-align: center;
                ">
                            Pricing
                        </h6>
                        <div class="container">
                            <p style="text-align: left;">Sattva LakeRidge Pricing: Luxury Redefined discover the
                                Exclusive
                                Pricing at Sattva LakeRidge
                                - Your Gateway to Elevated Living</p>

                            <p style="text-align: left;">Overview : Unveil the carefully curated pricing details for
                                Sattva
                                LakeRidge, where
                                opulence meets Luxury. Explore the range of options that cater to your preferences and
                                Suits,
                                making luxury living an attainable reality.</p>

                            <p style="text-align: left;"> Apartment Pricing : See how Sattva LakeRidge stands out in
                                terms
                                of pricing against similar
                                offerings in the market. Our comparative analysis provides a transparent view of the
                                exceptional value you're getting when choosing Sattva LakeRidge.</p>

                            <p style="text-align: left;"> Book Your Visit : Book a visit to our site to witness the
                                unparalleled lifestyle and amenities
                                that
                                await you. Our team is eager to guide you through the pricing details and answer any
                                questions you may have.</p>

                            <p style="text-align: left;">At Sattva LakeRidge, luxury living isn't just a dream—it's a
                                tangible reality with pricing
                                that aligns with your aspirations. Explore our pricing details and take the first step
                                towards redefining your concept of opulent living.</p>
                        </div>
                    </div>
                    <table class="table table-bordered"
                        style="font-size: large; margin-left: 6%;width: 90%;text-align: center;font-weight: bolder;">
                        <thead style="color: black;">
                            <tr>
                                <th scope="col">Type</th>
                                <th scope="col">Size</th>
                                <th scope="col">Price</th>
                            </tr>
                        </thead>
                        <tbody style="color: black;">
                            <tr>
                                <td>3 BHK</td>
                                <td>2,152 sqft</td>
                                <td>&#8377; 11,000 PSF <b style="color: red;">*</b></td>
                            </tr>
                            <tr>
                                <td>3 BHK</td>
                                <td>2,744 sqft</td>
                                <td>&#8377;11,000 PSF <b style="color: red;">*</b></td>
                            </tr>
                            <tr>
                                <td>4 BHK</td>
                                <td>4,187 sqft</td>
                                <td>&#8377; 11,600 PSF <b style="color: red;">*</b></td>
                            </tr>
                            <tr>
                                <td>5 BHK</td>
                                <td>5,266 sqft</td>
                                <td>&#8377;12,500 PSF <b style="color: red;">*</b></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>