<div class="container about">
  <div class="section profile-content">
    <div class="row" style="margin-right: 0; margin-left: 1px;">
      <!-- <div class="col-lg-6 col-md-12" style="padding-right: 0px; background-image: url('../../assets/img/background.png');background-color: #282343;
        background-size: 10%;">
        <img src="../../assets/img/sattva/Semi-Aerial_Eminence_1-scaled.webp" class="img-responsive ab-img"
          alt="Sattva Lakeridge" />
      </div> -->
      <div class="col-lg-12 col-md-12">
        <div style="
            align-content: center;
            align-items: center;
            flex-wrap: wrap;
            position: relative;
          ">
          <div class="txt-margin">
            <h1 style="
                font-size: 2rem;
                background-image: linear-gradient(
                  to right,
                  #ffd841,
                  #b97a0b 80%
                ) !important;
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
                font-family: 'STIX Two Text';
              ">
              Ultra-premium residencies facing Osman Sagar and Kokapet Lake<br>
            </h1>
            <p style="color: white; text-align: justify;">Sattva LakeRidge is a fine example of the Group’s outstanding
              designs and features.
              The project offers 6 magnificent towers with cutting edge amenities at every level. The exclusive ‘Fern
              tower offers just 2 ultra-spacious apartments per floor and a private elevator for the last word in
              comfort and convenience.</p>
            <p style="color: white; text-align: justify;">Welcome to a higher dimension of luxury at Neopolis,
              Hyderabad. Designed by the
              best minds in the industry, the 6 marvelous towers at Sattva LakeRidge complement your mindset like
              nothing else.</p>
            <p style="color: white; text-align: justify;">Take lakeside walks when you’re not taking swift drives to
              everyday victory. Have
              the sun, the moon, and the stars perform a magical opera for you. Imbibe the calmness of a picturesque
              lake in all your conquests. Find more time to cherish this opulence. Make the most of this convergence.
              Make your peers envious. Indeed, have no peers.</p>
            <p style="color: white; text-align: justify;">Sattva Lakeridge - Ultra premium residencies facing the
              panoramic views of Osman
              Sagar and Kokapet Lake meet the lavishness of Neopolis Hyderabad.</p>

            <p style="color: white; text-align: justify;">Sattva Lakeridge step into a realm of timeless luxury at
              Neopolis, Hyderabad, where
              Sattva LakeRidge stands as an emblem of the Group's architectural brilliance and innovation. A masterpiece
              that transcends time, this project embodies the perfect fusion of exceptional design and cutting-edge
              features that redefine opulent living.</p>

            <p style="color: white; text-align: justify;"> Sattva Lakeridge comprising 6 magnificent towers that
              punctuate the skyline,
              Sattva LakeRidge isn't just a residential complex; it's a testament to a lifestyle that's beyond ordinary.
              Each tower is a testament to the Sattva Group's commitment to delivering excellence, with amenities that
              set new benchmarks at every level.</p>

            <p style="color: white; text-align: justify;"> Sattva Lakeridge among these architectural marvels, the
              'Fern' tower reigns
              supreme. With only 2 ultra-spacious apartments per floor, it offers a level of exclusivity that's
              unparalleled. To add to your comfort and convenience, a private elevator awaits, ensuring that every
              aspect of your life here is imbued with luxury.</p>

            <p style="color: white; text-align: justify;"> Sattva Lakeridge Neopolis isn't just a location; it's an
              embodiment of the
              aspirations and desires of those who seek more from life. Sattva LakeRidge is more than a home; it's an
              extension of your mindset, complementing your discerning taste and your drive for success.</p>

            <p style="color: white; text-align: justify;"> Sattva Lakeridge Picture lakeside strolls on tranquil
              mornings and swift drives to
              achieve your daily victories. Sattva Lakeridge imagine being serenaded by the sun, the moon, and the stars
              as they perform a symphony of nature's grandeur exclusively for you. Sattva Lakeridge the picturesque lake
              becomes not just a view but a serene companion in your journey of conquests.</p>

            <p style="color: white; text-align: justify;"> In the realm of Sattva LakeRidge Neopolis Hyderbad, time
              slows down, allowing you
              to savor the opulence that surrounds you. Sattva Lakeridge this is more than just luxury living; it's a
              convergence of elegance, innovation, and an elevated lifestyle that defies comparison.</p>

            <p style="color: white; text-align: justify;"> Sattva Lakeridge indulge in a life where your peers find
              themselves envious of
              your choices, where you stand at the pinnacle of sophistication and grandeur. In a world where ordinary
              has no place, Sattva LakeRidge positions you as the true connoisseur of extraordinary living.</p>

            <p style="color: white; text-align: justify;">Sattva Lakeridge as you step into this higher dimension of
              luxury, leave behind the
              concept of peers, for you are destined to stand alone in your appreciation of the exquisite. Welcome to
              Sattva LakeRidge, where your address isn't just a location; it's a statement of distinction.</p>

            <p style="
            font-size: 2rem;
            background-image: linear-gradient(
              to right,
              #ffd841,
              #b97a0b 80%
            ) !important;
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            font-family: 'STIX Two Text';
            text-align: left;
          ">Project Highlights :</p>
            <ul style="
            font-size: 1rem;
            background-image: linear-gradient(
              to right,
              #ffd841,
              #b97a0b 80%
            ) !important;
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            font-family: 'STIX Two Text';
            text-align: left;
          ">

              <li> RERA Received: P02400006230, P02400006231</li>
              <li>Ultra-premium apartments facing Osman Sagar and Kokapet Lake.</li>

              <li>3, 4, & 5 BHK | G+37 Floors | 2100 to 5500 Sft.</li>
              <li>6 Astounding Towers.</li>
              <li>FERN Tower – Private Elevator & 2 Apartments per Floor.</li>
              <li>Easy connectivity – 10 Mins from Financial District, 20 Mins from Sattva Knowledge City.</li>
              <li>High Ceilings and Double-Glazing Glass</li>
              <li>Floor-to-ceiling Windows</li>
              <li>Clubhouse and world-class lifestyle amenities</li>
              <li> IGBC Pre-certified Gold Rated Project</li>
              <li>Floor to Floor height – 3.6 Mtrs (12 Feet)</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>