<div class="wrapper" id="home" style="background-color: #282343;">
  <div class="page-header section-dark homeBanner">
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="title-brand">
          <div class="angular-logo">
            <img class="fimage" src="../../assets/img/sattva/sattva-log-white.png" alt="">
          </div>
          <p style="font-size: 1.2rem;">Neopolis, Kokapet</p>
          <p style="font-size: small;">RERA ID: P02400006230/P02400006231</p>
        </div>
      </div>
    </div>
    <h6 class=" category-absolute ml-auto mr-auto" style="color: #fff;">A Passionate offering by <b
        style=" color: #fff;font-weight: bolder;">SATTVA Group</b></h6>
  </div>

  <div class="float-bottom forall desk-none noth">
    <div class="one-box">
      <a href="https://api.whatsapp.com/send?phone=+919550917866&text=Hi!%20I\'m%20Interested%20In%20Lakeridge%20At%20Neopolis,%20Hyderabad.%20Please%20Share%20Details."
        target="_blank">
        <div class="img-icon">
          <i class="fab fa-whatsapp"></i>
        </div>
        <div class="txt-icon">WhatsApp</div>
      </a>
    </div>

    <div class="one-box">
      <a href="tel:+919550917866">
        <div class="img-icon">
          <i class="fas fa-phone"></i>
        </div>
        <div class="txt-icon">Call Now</div>
      </a>
    </div>

    <div class="one-box">
      <a href="javascript:void()" (click)="open()">
        <div class="img-icon">
          <i class="far fa-edit"></i>
        </div>
        <div class="txt-icon">Enquire Now</div>
      </a>
    </div>
  </div>
  <app-navigation></app-navigation>
  <div id="about" style="background-image: url('../../assets/img/background.png');background-color: #282343;
  background-size: 10%;">
    <app-about></app-about>
  </div>
  <div id="section" class="table-section">
    <section class="section profile-content">
      <div class="container">
        <div class="row" style="margin: 0px !important;">
          <div class="col-lg-4" style="margin-top: 4%; border: 1px solid #000000">
            <p class="sec_dt">TYPE</p>
            <p class="sec_dt">3, 4, & 5 BHK Flats</p>
          </div>
          <div class="col-lg-4" style="margin-top: 4%; border: 1px solid #050505">
            <p class="sec_dt">AREA</p>
            <p class="sec_dt">9.5 Acres</p>
          </div>
          <div class="col-lg-4" style="margin-top: 4%; border: 1px solid #010101">
            <p class="sec_dt">TOWERS</p>
            <p class="sec_dt">6 Tower - G+37 Floors </p>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div id="master" style="background-image: url('../../assets/img/background.png');background-color: #282343;
  background-size: 10%;">
    <div class="wrapper" id="carousel" style="background-image: url('../../assets/img/background.png');background-color: #282343;
    background-size: 10%;">
      <div class="tim-title">
        <h6 class="about_m_text" style="text-align: center; color: #f9f6f5;">The Project
          Plans
        </h6>
      </div>
      <div class="row" style="margin-right: -7px !important">
        <div class="col-md-12 mr-auto ml-auto" style="padding-right: 0px">
          <!-- Tabs with Background on Card -->
          <div class="card" style="background-color: transparent !important;">
            <div class="nav-tabs-navigation" data-tabs-color="orange">
              <div class="nav-tabs-wrapper">
                <ngb-tabset [justify]="'center'" class="text-center">
                  <ngb-tab title="Layout Plan">
                    <ng-template ngbTabContent>
                      <div class="row">
                        <div class="col-md-4" *ngFor="let image of _album; let i=index">
                          <img [src]="image.thumb" (click)="openLightbox(i)" width="80%" style="margin-bottom: 6%;"
                            alt="western+i" />
                        </div>
                      </div>
                    </ng-template>
                  </ngb-tab>
                  <ngb-tab title="Master Plan">
                    <ng-template ngbTabContent>
                      <img src="../../assets/img/sattva/Master-Plan-1-768x813.jpg" alt="" class="prj-layout" />
                    </ng-template>
                  </ngb-tab>
                </ngb-tabset>
              </div>
            </div>
          </div>
          <!-- End Tabs on plain Card -->
        </div>
      </div>
    </div>
  </div>
  <div id="pricing" style="background-color: black;">
    <app-pricing></app-pricing>
  </div>
  <div id="price" style="background-color: black;">
    <app-price></app-price>
  </div>
  <div id="gallery" style="background-color: black;">
    <app-gallery></app-gallery>
  </div>
  <div id="location">
    <app-location></app-location>
  </div>
  <app-footer></app-footer>
</div>